{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Ukladani teplot{% endblock %}

{% block content %}
  <h3>Teplota</h3>
  <div class="form-group">Zadej teplotu</div>
  <form method="POST" id='insert-form'>
    {{ form.hidden_tag() }}
    {{ render_input_field(form.teplota) }}
    {{ render_submit() }}
  </form>
{% endblock %}
